<mat-drawer-container class="h-full" autosize>
  <mat-drawer #drawer
              class="p-4 main-drawer-container min-w-[300px]"
              mode="side"
              opened="true">
    <app-user-info></app-user-info>
    <app-groups></app-groups>
    <app-header>
      <app-title class="title" [config]="{title: 'header1',size: TailwindFontSizeEnum.xs, type: HeaderType.Custom}"></app-title>
      <app-icon-button class="button" [config]="headerButtonConfig"></app-icon-button>
    </app-header>
    <app-selection-list></app-selection-list>
  </mat-drawer>
  <main class="p-4">
    <app-toolbar></app-toolbar>
    <app-header>
      <app-title class="title" [config]="{title: 'header2',size: TailwindFontSizeEnum.base, type: HeaderType.Custom}"></app-title>
      <app-icon-button class="button" [config]="{iconName: 'add',color: 'primary',action: action.bind(this)}"></app-icon-button>
    </app-header>
    <app-expansion-list></app-expansion-list>
  </main>

</mat-drawer-container>
